body{
	font-family: "Open Sans", sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container{
	display: flex;
}

.landing-navbar{
	display: flex;
	flex-direction: row;
	flex: 100%;
	height: 15vh;
	padding-left: 2rem;
	background-color: red;
}

.nav-logo{
	width: 20%;
}
.nav-logo > .logo{
	width: 100px;
}

.company-name{
	width: 80%;
}

.company-name > .name {
	text-align: right;
	vertical-align: middle;
	font-weight: bolder;
	font-size: 4rem;
}

.main-navigation{
	flex: 15%;
}

.main-info{
	flex: 30%;
	padding-top: 3rem;
}

.main-picture{
	flex: 30%;
}

.card{
	height: 10%
}

.card > .mb-4{
	font-size: inherit;
	margin: auto;
}

.picture-content > .picture {
	height: auto;
	width: 90%;
}

.gal-image > .gallery-image{
	height: auto;
	width: 90%;
}

.abus-image > .aboutus-image{
	width: 100%;
}

.text-center > .contactus-map{
	width: 100%;
	height: 100%;
}

.contactus-map > .contact-map{
	height: 93%;
	width: 80%;
}

.text-center > .contact-header{
	font-weight: bolder;
}

@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
  }
}
